env:
  - name: LOGGING_LEVEL_ROOT
    value: DEBUG

yamlApplicationConfig:
  kafka:
    clusters:
      - name: cluster-1
        bootstrapServers: cluster-1-kafka-bootstrap.kafka-operator.svc:9093
        properties:
          security.protocol: SASL_PLAINTEXT
          sasl.mechanism: OAUTHBEARER
          sasl.jaas.config: >
            org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required
            oauth.client.id="kafka"
            oauth.client.secret="kafka-secret"
            oauth.token.endpoint.uri="http://sso.local.io:32080/realms/kafka-authz/protocol/openid-connect/token"
            oauth.audience="kafka";
  logging:
    level:
      org.springframework.security: TRACE
      io.kafbat.ui.service.rbac: TRACE
      io.kafbat.ui.service.rbac.extractor: TRACE

  dynamic.config.enabled: true

  auth:
    type: OAUTH2
    oauth2:
      client:
        keycloak:
          clientId: kafka-ui
          clientSecret: G9rWgQpodlSZ5BddhOOmb2Nn8zVkRJ27
          scope: openid,email,roles,groups
          client-name: SSO
          provider: keycloak
          authorization-grant-type: authorization_code
          redirect-uri: http://kafka-ui.local.io:32080/login/oauth2/code/keycloak
          issuer-uri: http://sso.local.io:32080/realms/platform
          user-name-attribute: preferred_username
          custom-params:
            type: oauth
            # roles-field: realm_access.roles

  rbac:
    roles:
      - name: "admins"
        clusters:
          - cluster-1
        subjects:
          - provider: oauth
            type: role
            value: admin
        permissions:
          - resource: applicationconfig
            actions: all

          - resource: clusterconfig
            actions: all

          - resource: topic
            value: ".*"
            actions: all

          - resource: consumer
            value: ".*"
            actions: all

          - resource: schema
            value: ".*"
            actions: all

          - resource: connect
            value: ".*"
            actions: all

          - resource: ksql
            actions: all

          - resource: acl
            actions: all

          - resource: audit
            actions: all

      - name: "readonly"
        clusters:
          - cluster-1
        subjects:
          - provider: oauth
            type: role
            value: readonly
        permissions:
          - resource: clusterconfig
            actions: [ "view" ]
          - resource: topic
            value: ".*"
            actions:
              - VIEW
              - MESSAGES_READ
          - resource: consumer
            value: ".*"
            actions: [ view ]
          - resource: schema
            value: ".*"
            actions: [ view ]
          - resource: connect
            value: ".*"
            actions: [ view ]
          - resource: acl
            actions: [ view ]

# env:
#   - name: SERVER_SERVLET_CONTEXT_PATH
#     value: "/kafka-ui"

ingress:
  enabled: true
  ingressClassName: nginx
  host: kafka-ui.local.io