env:
  - name: LOGGING_LEVEL_ROOT
    value: DEBUG

envs:
  secretMappings:
    KAFKA_UI_CLIENT_ID:
      name: kafka-ui-oidc-secret
      keyName: KAFKA_UI_CLIENT_ID
    KAFKA_UI_CLIENT_SECRET:
      name: kafka-ui-oidc-secret
      keyName: KAFKA_UI_CLIENT_SECRET
    KAFKA_CLIENT_ID:
      name: kafka-oidc-secret
      keyName: KAFKA_CLIENT_ID
    KAFKA_CLIENT_SECRET:
      name: kafka-oidc-secret
      keyName: KAFKA_CLIENT_SECRET

yamlApplicationConfig:
  kafka:
    clusters:
      - name: my-cluster
        bootstrapServers: my-cluster-kafka-bootstrap.kafka-operator.svc:9092
        properties:
          security.protocol: SASL_PLAINTEXT
          sasl.mechanism: OAUTHBEARER
          sasl.login.callback.handler.class: io.strimzi.kafka.oauth.client.JaasClientOauthLoginCallbackHandler
          ssl.endpoint.identification.algorithm: ""
          socket.connection.setup.timeout.max.ms: 30000
          socket.connection.setup.timeout.ms: 30000
          sasl.jaas.config: >
            org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required
              oauth.token.endpoint.uri="http://sso.local.io:32080/realms/kafka-authz/protocol/openid-connect/token"
              oauth.client.id="${KAFKA_CLIENT_ID}"
              oauth.client.secret="${KAFKA_CLIENT_SECRET}"
              oauth.scope='openid';
  logging:
    level:
      org.springframework.security: TRACE
      io.kafbat.ui.service.rbac: TRACE
      io.kafbat.ui.service.rbac.extractor: TRACE

  dynamic.config.enabled: true

  auth:
    type: OAUTH2
    oauth2:
      client:
        keycloak:
          clientId: ${KAFKA_UI_CLIENT_ID}
          clientSecret: ${KAFKA_UI_CLIENT_SECRET}
          scope: openid
          client-name: SSO
          provider: keycloak
          authorization-grant-type: authorization_code
          redirect-uri: http://kafka-ui.local.io:32080/login/oauth2/code/keycloak
          issuer-uri: http://sso.local.io:32080/realms/kafka-authz
          user-name-attribute: preferred_username
          custom-params:
            type: oauth
            roles-field: groups

  rbac:
    roles:
      - name: "admins"
        clusters:
          - my-cluster
        subjects:
          - provider: oauth
            type: role
            value: admin
        permissions:
          - resource: applicationconfig
            actions: all

          - resource: clusterconfig
            actions: all

          - resource: topic
            value: ".*"
            actions: all

          - resource: consumer
            value: ".*"
            actions: all

          - resource: schema
            value: ".*"
            actions: all

          - resource: connect
            value: ".*"
            actions: all

          - resource: ksql
            actions: all

          - resource: acl
            actions: all

          - resource: audit
            actions: all

      - name: "readonly"
        clusters:
          - my-cluster
        subjects:
          - provider: oauth
            type: role
            value: readonly
        permissions:
          - resource: clusterconfig
            actions: [ "view" ]
          - resource: topic
            value: ".*"
            actions:
              - VIEW
              - MESSAGES_READ
          - resource: consumer
            value: ".*"
            actions: [ view ]
          - resource: schema
            value: ".*"
            actions: [ view ]
          - resource: connect
            value: ".*"
            actions: [ view ]
          - resource: acl
            actions: [ view ]

ingress:
  enabled: false
  ingressClassName: nginx
  host: kafka-ui.local.io