controller:
  name: controller
  kind: Deployment
  # podAnnotations:
  #   sidecar.istio.io/inject: "true"
  #   traffic.sidecar.istio.io/includeInboundPorts: ""
  #   traffic.sidecar.istio.io/includeOutboundIPRanges: "*"
  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
    forwarded-for-header: "X-Forwarded-For"

  service:
    type: NodePort
    nodePorts:
      http: 32080
      https: 32444
      tcp:
        5432: 32432 # Keycloak DB
        5433: 32433 # Backstage DB
        5434: 32434 # Grafana DB
        3306: 32306 # MySQL DB
        3200: 32200 # Tempo
      #   6379: 32379

  ingressClassResource:
    name: nginx
    enabled: true
    default: true

  # extraArgs:
  #   tcp-services-configmap: "ingress-nginx/ingress-nginx-tcp"

  metrics:
    enabled: true
    service:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "10254"

  admissionWebhooks:
    enabled: false

defaultBackend:
  enabled: true
