config:
  clientID: auth
  clientSecret: ""
  cookieSecure: false
  cookieSecret: ""
  configFile: |-
    email_domains = ["local.io"]
    provider = "oidc"
    redirect_url = "http://auth.local.io:32080/oauth2/callback"
    oidc_issuer_url = "http://sso.local.io:32080/realms/platform"
    skip_provider_button = true
    ssl_insecure_skip_verify = true
    reverse_proxy = true
    show_debug_on_error = true
    cookie_refresh = "15m"
    cookie_expire = "30m"
    cookie_httponly = true
    cookie_samesite = "lax"
    cookie_secure = false
    standard_logging = true
    auth_logging = true
    request_logging = true
    pass_access_token = true
    pass_user_headers = true
    pass_host_header = false
    upstreams = ["http://rollouts.local.io:32080/"]
    whitelist_domains = [".local.io"]
    cookie_domains = [".local.io"]
    pass_authorization_header = true

redis:
  enabled: false

# sessionStorage:
#   type: redis
#   redis:
#     password: admin123
#     clientType: "standalone"
#     standalone:
#       connectionUrl: "redis://cache.local.io:32379"

ingress:
  enabled: true
  path: /
  pathType: Prefix
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
    nginx.ingress.kubernetes.io/proxy_buffers: "8 16k"
    nginx.ingress.kubernetes.io/proxy_busy_buffers_size: "32k"
  hosts:
    - auth.local.io
