env:
  email: admin@local.io
  password: admin123
  contextPath: "/pgadmin4"

serverDefinitions:
  enabled: true
  # resourceType: Secret
  # existingSecret: db-secret

  servers:
    firstServer:
      Name: "KC-DB"
      Group: "Servers"
      Host: "pg.local.io"
      Port: "32432"
      MaintenanceDB: "keycloakdb"
      Username: "keycloak_admin"
      SSLMode: "disable"

persistentVolume:
  enabled: false

networkPolicy:
  enabled: false

service:
  annotations:
  kubernetes.io/service-proxy-name: "kube-proxy"

ingress:
  enabled: true
  ingressClassName: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/service-upstream: "true"
    # nginx.ingress.kubernetes.io/proxy-redirect-from: "~^http://([^/]+):32080/(pgadmin4/)?(.*)$"
    # nginx.ingress.kubernetes.io/proxy-redirect-to: "http://$1:32080/pgadmin4/$3"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Script-Name /pgadmin4;
  hosts:
    - host: pgadmin.local.io
      paths:
        - path: /pgadmin4
          pathType: ImplementationSpecific
