apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istiod
    namespace: istio-system
    valuesFile: values.yaml
