grafana:
  enabled: false

alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname', 'namespace', 'topic'] 
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: 'slack'
      routes:
        - receiver: 'null'
          matchers:
            - alertname =~ "Watchdog|InfoInhibitor"
    receivers:
    - name: 'null'
    - name: 'slack'
      slack_configs:
      - channel: '#platform-alerts'
        api_url_file: '/etc/alertmanager/secrets/slack-webhook-secret/slack-webhook-url'
        title: '[{{ .Status | upper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonAnnotations.summary }}'
        text: >-
          {{ range .Alerts -}}
          *Alert:* {{ .Labels.alertname }}
          *Description:* {{ .Annotations.description }}
          *Details:* {{ if .Labels.topic }}*Topic:* {{ .Labels.topic }}{{ end }} {{ if .Labels.partition }}*Partition:* {{ .Labels.partition }}{{ end }}
          ---
          {{- end }}
        color: '{{ if eq .Status "firing" }}{{ if eq .Labels.severity "critical" }}#FF0000{{ else }}warning{{ end }}{{ else }}good{{ end }}'

prometheus:
  enabled: true
  prometheusSpec:
    serviceMonitorNamespaceSelector: {}
    # Discovery: Pick up every ServiceMonitor/Rule in the cluster
    serviceMonitorSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    retention: 1d
    storageSpec:
     volumeClaimTemplate:
       spec:
         storageClassName: "standard"
         accessModes: ["ReadWriteOnce"]
         resources:
           requests:
             storage: 1Gi

kube-state-metrics:
  enabled: true

prometheus-node-exporter:
  enabled: true
