grafana:
  enabled: false

alertmanager:
  enabled: true
  alertmanagerSpec:
    replicas: 1
    secrets: 
      - slack-webhook-secret
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['namespace', 'pod']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: 'slack'
      routes:
        - receiver: 'null'
          matchers:
            - alertname =~ "Watchdog|InfoInhibitor"
    receivers:
    - name: 'null'
    - name: 'slack'
      slack_configs:
      - channel: '#platform-alerts'
        api_url_file: '/etc/alertmanager/secrets/slack-webhook-secret/slack-webhook-url'
        title: '{{ range .Alerts }}{{ .Annotations.summary }}{{ end }}'
        text: >-
          {{ range .Alerts -}}
          *Description:* {{ .Annotations.description }}
          *Severity:* {{ .Labels.severity }}
          {{- end }}
        color: '{{ if eq .Status "firing" }}danger{{ else }}good{{ end }}'

prometheus:
  enabled: true
  prometheusSpec:
    serviceMonitorNamespaceSelector: {}
    # Discovery: Pick up every ServiceMonitor/Rule in the cluster
    serviceMonitorSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    retention: 1d
    storageSpec:
     volumeClaimTemplate:
       spec:
         storageClassName: "standard"
         accessModes: ["ReadWriteOnce"]
         resources:
           requests:
             storage: 1Gi

kube-state-metrics:
  enabled: true

prometheus-node-exporter:
  enabled: true
