# podDisruptionBudget:
#   minAvailable: 1

# Use a custom image with the SCIM SPI included else comment out the image section and use the default Keycloak image. # If using the default image, you will need to manually add the SCIM SPI to the Keycloak instance.
# image:
#   repository: sahilwork/kc-scim-spi
#   tag: "v4"
#   pullPolicy: Never

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3

  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Pods
          value: 1
          periodSeconds: 300

resources: 
  requests:
    cpu: 500m
    memory: 1024Mi
  limits:
    cpu: 1000m
    memory: 1536Mi

livenessProbe: |
  httpGet:
    path: {{ tpl .Values.http.relativePath $ | trimSuffix "/" }}/health/live
    port: {{ .Values.http.internalPort }}
    scheme: {{ .Values.http.internalScheme }}
  periodSeconds: 30
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe: |
  httpGet:
    path: {{ tpl .Values.http.relativePath $ | trimSuffix "/" }}/health/ready
    port: {{ .Values.http.internalPort }}
    scheme: {{ .Values.http.internalScheme }}
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 6

startupProbe: |
  httpGet:
    path: {{ tpl .Values.http.relativePath $ | trimSuffix "/" }}/health
    port: {{ .Values.http.internalPort }}
    scheme: {{ .Values.http.internalScheme }}
  initialDelaySeconds: 30
  periodSeconds: 5
  timeoutSeconds: 1
  failureThreshold: 60

http:
  relativePath: "/"

metrics:
  enabled: true

health:
  enabled: true

dbchecker:
  enabled: true

service:
  type: ClusterIP
  port: 9000
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"

command:
  - "/opt/keycloak/bin/kc.sh"
  - "--verbose"
  - "start"

database:
  vendor: postgres
  hostname: keycloak-db-rw.keycloak-pg.svc.cluster.local
  port: 5432
  database: keycloak_db
  username: keycloak_admin
  password: admin123
  #existingSecret: "kc-db-password"
  #existingSecretKey: "password"

ingress:
  enabled: false

extraEnv: |
  - name: KC_HOSTNAME
    value: "http://sso.local.io:32080"
  - name: KC_HOSTNAME_PORT
    value: "32080"
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_PROXY
    value: "edge"
  - name: KC_BOOTSTRAP_ADMIN_USERNAME
    value: admin
  - name: KC_BOOTSTRAP_ADMIN_PASSWORD
    value: admin123
  - name: KC_HOSTNAME_STRICT_HTTPS
    value: "false"
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_PROXY_HEADERS
    value: "xforwarded"
  - name: KC_HOSTNAME_DEBUG
    value: "true"
  # - name: SCIM_AUTHENTICATION_MODE
  #   value: "EXTERNAL"
  # - name: SCIM_EXTERNAL_ISSUER
  #   value: "https://sts.windows.net/<tenant-ID>/"
  # - name: SCIM_EXTERNAL_AUDIENCE
  #   value: "8adf8e6e-67b2-4cf2-a259-e3dc5476c621"     # This is consistent from Microsoft
  # - name: SCIM_EXTERNAL_JWKS_URI
  #   value: "https://login.microsoftonline.com/<tenant-ID>/discovery/v2.0/keys"
  # - name: KC_TRACING_ENABLED
  #   value: "true"
  # - name: KC_TRACING_PROTOCOL
  #   value: "http/protobuf"
  # - name: KC_TRACING_ENDPOINT
  #   value: "http://otel-collector-opentelemetry-collector.opentelemetry.svc.cluster.local:4318"

extraInitContainers: |
  - name: kc-spi
    image: alpine:latest 
    command:
      - sh
      - -c
      - >
        apk add --no-cache curl unzip &&
        curl -L -o /extensions/keycloak-metrics-spi.jar
        https://github.com/aerogear/keycloak-metrics-spi/releases/download/7.0.0/keycloak-metrics-spi-7.0.0.jar
    volumeMounts:
      - name: kc-spi
        mountPath: /extensions

extraVolumeMounts: |
  - name: kc-spi
    mountPath: /opt/keycloak/providers

extraVolumes: |
  - name: kc-spi
    emptyDir: {}

# Primary Monitor for Quarkus Metrics (Port 9000)
serviceMonitor:
  enabled: true
  labels:
    release: monitoring

# Secondary Monitor for SPI Metrics (Port 80)
extraServiceMonitor:
  enabled: true
  port: http
  scheme: http
  path: "/realms/master/metrics"
  labels:
    release: monitoring

prometheusRule:
  enabled: true
  labels:
    release: monitoring
  rules:
    - alert: KeycloakHighCPU
      expr: |
        (rate(container_cpu_usage_seconds_total{container="keycloak"}[5m]) / 
        on(pod, container) group_left() 
        kube_pod_container_resource_limits{resource="cpu"}) * 100 > 50
      for: 1m
      labels:
        severity: warning
      annotations:
        summary: "High CPU on {{ $labels.pod }}"
        description: "Pod usage is {{ $value }}%"
    - alert: KeycloakIstioHigh5xxRate
      annotations:
        summary: "High 5xx error rate on Keycloak Ingress"
        description: "Keycloak 5xx errors are at {{ $value | printf \"%.2f\" }}% over the last 5 minutes."
      expr: |
        (
          sum(rate(istio_requests_total{reporter="destination", destination_service_name="monitoring-kube-prometheus-prometheus", response_code=~"5.."}[1m]))
          /
          sum(rate(istio_requests_total{reporter="destination", destination_service_name="monitoring-kube-prometheus-prometheus"}[1m]))
        ) * 100 > 1
      for: 5m
      labels:
        severity: critical
