apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: kiali-operator
    repo: https://kiali.org/helm-charts
    version: 2.22.0
    releaseName: kiali-operator
    namespace: kiali-operator
    includeCRDs: true
