apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  disableNameSuffixHash: true

resources:
  - namespace.yaml
  - argo-cd-sso-secret.yaml
  - gateway.yaml
  - virtualservice.yaml
  - peer-authentication.yaml

helmCharts:
  - name: argo-cd
    releaseName: argo-cd
    namespace: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.4.3
    includeCRDs: true
    valuesFile: values.yaml
