configuration:
  micronaut:
    security:
      enabled: true
      oauth2:
        enabled: true
        callback-uri: "http://kafka-ui:32080/kafka/oauth/callback/keycloak"
        clients:
          keycloak:
            client-id: akhq
            client-secret: rv4p0d39vuS5I8tSgcSXbD7rPyyyMDiJ
            openid:
              issuer: http://sso.local.io:32080/realms/master
              configuration-path: "/.well-known/openid-configuration"
    server:
      context-path: "/"
      host-resolution:
        host-header: Host
        protocol-header: X-Forwarded-Proto

  akhq:
    security:
      # default-group: admin # Default groups for all the user even unlogged user
      # # Groups definition
      # groups:
      #   no-roles:
      #     name: no-roles  
      #     roles: [ ]
      #   topic-reader:
      #     name: topic-reader
      #     roles:
      #       - topic/read
      #       - topic/data/read
      #       - group/read

      # OIDC configuration
      oidc:
        enabled: true
        providers:
          keycloak:
            label: "Login with SSO"
            username-field: preferred_username
            groups-field: roles
            default-group: topic-reader
            # groups:
            #   - name: oidc-admin-group
            #     groups:
            #       - admin
            # users:
            #   - username: admin
            #     groups:
            #       - admin

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - kafka-ui.local.io

readinessProbe:
  enabled: false

livenessProbe:
  enabled: false
